<div class="container mb-5 w-25">
<h1 class="pt-3"> Login</h1>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class="form-group">
      <%= label_tag 'Email' %>
      <%= text_field_tag 'email', @user.email, class: 'form-control',  placeholder: "ex : michel@gmail.com" %>
    </div>
    <div class="form-group">
      <%= label_tag 'Mot de Passe' %>
      <%= password_field_tag 'password', @user.password, class: 'form-control' %>
    </div>
      <%= submit_tag "Créer ton compte", class: 'btn btn-default btn-dark text-light btn-submit' %>
    <% end %>
</div>